.fontSize_1rem{
    font-size: 1rem;
}

.fontSize_2rem{
    font-size: 2rem;
}

.fontSize_3rem{
    font-size: 3rem;
}

.fontSize_4rem{
    font-size: 4rem;
}

.fontSize_5rem{
    font-size: 5rem;
}

.fontSize_6rem{
    font-size: 6rem;
}

.fontSize_7rem{
    font-size: 7rem;
}

.fontSize_8rem{
    font-size: 8rem;
}

.fontSize_9rem{
    font-size: 9rem;
}

.fontSize_10rem{
    font-size: 10rem;
}

.transition_1E{
    transition: all 1s ease;
}

.transition_1L{
    transition: all 1s linear;
}
