.buttonTheme1{
    border: none;
    background-color: #ff6105;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    color: black;
    user-select: none;
    cursor: pointer;
}


.buttonTheme2{
    border: none;
    background-color: #05f585;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    color: black;
    user-select: none;
    cursor: pointer;
}

.buttonTheme1:hover{
    background-color: black;
    color: #ff6105;
}

.buttonTheme2:hover{
    color: #05f585;
    background-color: black;
}
