.theme1{
    background-color: #ff6105;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    color: black;
    user-select: none;
    cursor: pointer;
}


.theme2{
    background-color: #05f585;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    color: black;
    user-select: none;
    cursor: pointer;
}

.theme1:hover{
    background-color: black;
    color: #ff6105;
}

.theme2:hover{
    color: #05f585;
    background-color: black;
}
